<nav class="h-20 flex justify-between items-center px-10">
    <div class="flex items-center">
        <img src="logo.png" class="size-12 object-contain" alt="a man reading book" />
        <span class="text-xl font-brand text-brand leading-none">کتابینو</span>
    </div>
    <ul class="flex min-lg:gap-8 min-md:gap-4 font-secondery max-md:hidden">
        <li><a href="#" class="p-2 hover:text-brand hover:bg-brand/15 rounded-md">خانه</a></li>
        <li><a href="#" class="p-2 hover:text-brand hover:bg-brand/15 rounded-md">دسته بندی‌ها</a></li>
        <li><a href="#" class="p-2 hover:text-brand hover:bg-brand/15 rounded-md">جدیدترین‌ها</a></li>
        <li><a href="#" class="p-2 hover:text-brand hover:bg-brand/15 rounded-md">محبوب ترین‌ها</a></li>
        <li><a href="#" class="p-2 hover:text-brand hover:bg-brand/15 rounded-md">ارتباط با ما</a></li>
    </ul>
    <div class="searchbar">
        <app-search-bar></app-search-bar>
    </div>
    <button
        class="text-brand font-main font-bold text-md border-brand px-2 py-1 border-2 rounded-lg hover:text-white hover:bg-brand hover:cursor-pointer ml-8">
        ورود / ثبت نام
    </button>
</nav>