<nav class="flex justify-between border-b border-b-slate-300 px-10 w-full h-full bg-white">
    <div class="flex items-center gap-4">
        <button class="size-10 outline-2 outline-gray-200 rounded-md cursor-pointer">
            <i class="fa-regular fa-bars-staggered size-6 text-2xl text-brand"></i>
        </button>
        <app-search-bar></app-search-bar>
    </div>
    <div class="flex items-center gap-4 ml-4">
        <span class="outline-2 outline-gray-200 rounded-full flex justify-center items-center size-11 cursor-pointer">
            <i class="fa-regular fa-moon text-gray-500 text-xl"></i>
        </span>
        <span class="outline-2 outline-gray-200 rounded-full flex justify-center items-center size-11 cursor-pointer">
            <i class="fa-regular fa-bell text-gray-500 text-xl"></i>
        </span>
        <app-dropdown></app-dropdown>
    </div>
</nav>