<aside class="h-full w-full flex flex-col gap-2 bg-white border-l-slate-300 border-l bg-whit font-secondery">
    <a href="#" class="inline-flex items-center gap-1 mt-2 p-2">
        <img src="logo.png" class="size-15" alt="logo">
        <p class="font-brand text-2xl text-brand">کتابینو</p>
    </a>
    <ul class="flex flex-col gap-2 text-lg py-2 px-4">
        <span class="text-gray-400 mb-2">منو</span>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-grid-round"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-books"></i>
                <span>کتاب</span>
            </a>
        </li>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-grid-2"></i>
                <span>دسته بندی</span>
            </a>
        </li>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-pen-nib"></i>
                <span>نویسنده</span>
            </a>
        </li>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-tag"></i>
                <span>کلیدواژه</span>
            </a>
        </li>
        <span class="text-gray-400 my-2">گزارش‌ها</span>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-chart-mixed"></i>
                <span>گزارش فروش</span>
            </a>
        </li>
        <li class="p-2 rounded-md hover:bg-slate-200 hover:cursor-pointer">
            <a href="#" class="space-x-2 mr-2">
                <i class="fa-regular fa-chart-column"></i>
                <span>گزارش موجودی</span>
            </a>
        </li>
    </ul>
</aside>
    
