<footer class="bg-brand mt-75 text-light font-secondery">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 py-8">
        <section class="p-10">
          <div class="flex items-center">
              <img src="logo-light.png" class="size-16 object-contain" alt="a man reading book" />
              <h2 class="font-brand text-3xl">کتابینو</h2>
          </div>
          <p class="text-lg leading-8 text-justify">
            مرجع تخصصی دانلود و مطالعه کتاب‌های الکترونیکی در موضوعات مختلف. هدف ما فراهم کردن دسترسی آسان
            به کتاب‌های باکیفیت برای یادگیری، رشد فردی و توسعه مهارت‌ها است.
          </p>
        </section>
        <section class="p-10 flex gap-12">
            <div class="border-r-2 border-gray-500 h-5/6 mb-2 mt-auto"></div>
            <div>
                <h4 class="text-lg font-bold">دسترسی سریع</h4>
                <ul class="text-lg space-y-1 mt-4">
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-house"></i><a href="#">خانه</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-grid-2"></i><a href="#">دسته بندی کتاب‌ها</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-sparkles"></i><a href="#">جدیدترین کتاب‌ها</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-heart"></i><a href="#">محبوب ترین کتاب‌ها</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-gift"></i><a href="#">کتاب‌های رایگان</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-user"></i><a href="#">نویسندگان</a>
                    </li>
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-pen-to-square"></i><a href="#">وبلاگ</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="p-10 flex gap-12">
            <div class="border-r-2 border-gray-500 h-5/6 mb-2 mt-auto"></div>
            <div>
                <h4 class="text-lg font-bold">اطلاعات</h4>
                <ul class="text-lg space-y-1 mt-4">
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-circle-info"></i>
                        <a href="#">درباره ما</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-envelope"></i>
                        <a href="#">تماس با ما</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-circle-question"></i>
                        <a href="#">سوالات متداول</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-scale-balanced"></i>
                        <a href="#">قوانین و مقررات</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-shield-check"></i>
                        <a href="#">حریم خصوصی</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-book-circle-arrow-up"></i>
                        <a href="#">درخواست کتاب</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-handshake"></i>
                        <a href="#">همکاری با ما</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="p-10 flex gap-12">
            <div class="border-r-2 border-gray-500 h-5/6 mb-2 mt-auto"></div>
            <div>
                <h4 class="text-lg font-bold">دسته‌بندی‌ها</h4>
                <ul class="text-lg space-y-1 mt-4">
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-code"></i>
                        <a href="#">برنامه‌نویسی</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-brain"></i>
                        <a href="#">هوش مصنوعی</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-graduation-cap"></i>
                        <a href="#">دانشگاهی</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-chart-line"></i>
                        <a href="#">کسب‌وکار</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-book-open"></i>
                        <a href="#">رمان</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-heart"></i>
                        <a href="#">روان‌شناسی</a>
                    </li>
    
                    <li class="p-2 space-x-3">
                        <i class="fa-regular fa-children"></i>
                        <a href="#">کودک و نوجوان</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="col-span-full flex justify-between pl-20 items-center p-10 border-t-2 border-gray-500">
            <div class="flex flex-col gap-7">
                <span class="flex items-center gap-2">
                    <p>© 2026 | کتابینو</p>
                    <p>تمامی حقوق این وب‌سایت محفوظ است.</p>
                </span>
                <span class="flex items-center gap-2">
                    <i class="fa-solid fa-heart text-xl"></i>
                    <p class="text-sm">Designed & Developed by Navid Davoudi</p>
                </span>
                <span class="flex gap-8">
                    <p>حریم خصوصی</p>    
                    <span class="border-1 border-gray-500"></span>            
                    <p>قوانین و مقررات</p>                
                    <span class="border-1 border-gray-500"></span>            
                    <p>کوکی‌ها</p>                
                </span>
            </div>
            <div class="flex gap-4 px-4">
                <a href="#">
                    <span class="rounded-full flex items-center justify-center w-14 h-14 outline-2">
                        <i class="fa-brands fa-github text-3xl"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="rounded-full flex items-center justify-center w-14 h-14 outline-2">
                        <i class="fa-brands fa-twitter text-3xl"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="rounded-full flex items-center justify-center w-14 h-14 outline-2">
                        <i class="fa-brands fa-instagram text-3xl"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="rounded-full flex items-center justify-center w-14 h-14 outline-2">
                        <i class="fa-brands fa-telegram text-3xl"></i>
                    </span>
                </a>
            </div>
        </section>
    </div>
</footer>
